@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700");

*,
*:before,
*:after 
*::before,
*::after { 
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-size: 2000px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.layout {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #f7f7f7;
    border: 1px solid greenyellow;
}

.container {
    width: 1280px;
    border: 1px solid red;
 
}

.header {
    background-image: url("/images/people2.jpeg");
    width: 100%;
    height: 640px;
    background-size: cover;
}

.navigation {
    display: flex;
    width: 100%;
    height: 80px;
}

.navigation__logo {
    width: 250px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.navigation__buffer {
    flex-grow: 1;
    border: 1px solid darkcyan;
}

.navigation__button {
    flex-grow: 0;
    width: 150px;
    border: 1px solid darkmagenta;
}

.navigation__burger {
    flex-grow: 0;
    width: 130px;
    border: 1px solid darkgoldenrod;
}

.logo {
    width: 150px;
    color: white;
    margin-left: 90px;
    margin-top: 35px;
    position: relative;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo span {
    font-weight: bold;
}

.logo-border {
    position: absolute;
    border: 1px solid white;
    border-radius: 2px;
    opacity: 0.7;
    width: 62px;
    height: 30px;
    top: -6px;
    right: 12px;
}

.logo-ball {
    position: absolute;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #ff7112;
    right: 48px;
    top: 8px;
}

.button {
    width: 150px;
    color:  #ff7112;
    margin-top: 35px;
    position: relative;
    cursor: pointer;
}

.button-border {
    position: absolute;
    border: 2px solid  #ff7112;;
    border-radius: 2px;
    opacity: 0.7;
    width: 150px;
    height: 45px;
    top: -12px;
}

.button a {
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
    color: #ff7112;
}

a {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-link, .menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  transition-duration: 1250ms;
  transition-property:  all;
  transition-timing-function: ease-out;
}

.menu-opener {
  cursor: pointer;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 2%;
  right: 10%;
  user-select: none;
}

.menu-opener:hover, .menu-opener.active {
  /*background: #f1c40f;*/
}

/* делает ср. белую полос. бургера*/
.menu-opener-inner {
  background: #fff;
  height: .2rem;
  width: 1.2rem;
  margin-left: .75rem;
  margin-top: 2.0rem;
}

/* делает верх. и ниж. белую полос. бургера*/
.menu-opener-inner::before {
  background: white;
  content: '';
  display: block;
  height: .2rem;
  width: 1.2rem;
}

.menu-opener-inner::after {
    background: white;
    content: '';
    display: block;
    height: .2rem;
    width: 1.2rem;
  }

.menu-opener-inner::before {
  transform: translateY(-0.5rem);
}

.menu-opener-inner::after {
  transform: translateY(0.25rem);
}

.menu-opener-inner.active {
  background: transparent;
}

/* анимация из трех полос. крест*/
.menu-opener-inner.active::before {
  transform: translateY(-0.2rem) rotate(-45deg);
}

.menu-opener-inner.active::after {
  transform: translateY(-0.4rem) translateX(0rem) rotate(45deg);
}

.menu {
  background:  #f1c40f;
  color: violet;/*transparent;*/
  height: 64px;
  position: absolute;
  top: 2%;
  right: 10%;
  user-select: none;
  width: 0rem;
  z-index: -1
}

.menu.active {
  width: 98vw;
}

.menu.active .menu-link {
  color: white;
}

.menu-inner {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-right: 4rem;
  padding: 0;
}

.menu-link {
  color: transparent;
  display: flex;
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.menu-link li {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }

  .menu-inner {
    display: block;
  }

  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }

  .menu.active {
    width: calc(100% - 0.5rem);
  }
}

.menu-link li:hover {
  background-color: #fff;
	color: #f1c40f;
}

.navigation1 {
    display: flex;
    width: 100%;
    height: 100px;
}

.navigation2 {
    display: flex;
    width: 100%;
    height: 160px;
}

.navigation2__buffer1 {
    width: 290px;
    flex-grow: 1;
    border: 1px solid chocolate;
}

.navigation2__center1 {
    width: 545px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.navigation2__center1_text {
    width: 445px;
    color: white;
    margin-left: 100px;
    position: relative;
}

.navigation2__center1_text p {
    text-align: left;
    font-size: 12px;
}


.navigation2__center2 {
    width: 160px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.navigation2__center2_text {
    width: 160px;
    color: white;
    position: relative;
}

.big-ball {
    position: absolute;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-color: #ff7112;
    text-align: center;
}

.big-ball span {
    font-size: 12px;  
}

.navigation2__buffer2 {
    width: 290px;
    flex-grow: 1;
    border: 1px solid darkcyan;
}

.navigation3 {
    display: flex;
    width: 100%;
    height: 150px;
    border: 1px solid chocolate;
}

.navigation4 {
    display: flex;
    width: 100%;
    height: 60px;
    border: 1px solid chocolate; 
}

.navigation4__buffer1 {
    width: 180px;
    flex-grow: 1;
    border: 1px solid chocolate;
}

.navigation4__search {
    width: 458px;
    flex-grow: 0;
}

.search {
    width: 458px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.search input#search{
    width: 458px;
    height: 60px;
    background: #fff;
    border: 1px solid grey;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    border-radius: 5px;
  }

  .search .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #afafaf;
  }

  .navigation4__distance {
    width: 274px;
    flex-grow: 0;
    color:  grey;
    border: 1px solid grey;
    background-color: white;
    padding-left: 20px;
  }

  .navigation4__distance h3 {
      color: #000;
      margin: 0px;
  }

  .navigation4__distance span {
    font-size: 10px;
  }

  .navigation4__poisk {
    width: 186px;
    flex-grow: 0;
    background-color: green;
    color: white;
    text-align: center;
    padding-top: 20px;
  }

  .navigation4__poisk span {
    font-size: 18px;
    text-align: center;
  }

.navigation4__buffer2 {
    width: 180px;
    flex-grow: 1;
    border: 1px solid chocolate;
}

.navigation5 {
    display: flex;
    width: 100%;
    height: 85px;
    border: 1px solid chocolate;
}

.middle1__top {
    width: 100%;
    height: 92px;
    border: 1px solid greenyellow;
    font-size: 22px;
    text-align: center;
    color: #000;
}

.middle1__center {
    display: flex;
    width: 100%;
    height: 96px;
    border: 1px solid greenyellow;
}

.middle1__center_lab1 {
    background-image: url("/images/lable1.png");
    background-size: cover;
    width: 96px;
    margin-left: 85px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle1__center_lab2 {
    background-image: url("/images/lable2.png");
    background-size: cover;
    width: 96px;
    margin-left: 15px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle1__center_lab3 {
    background-image: url("/images/lable3.png");
    background-size: cover;
    width: 96px;
    margin-left: 15px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle1__center_lab4 {
    background-image: url("/images/lable4.png");
    background-size: cover;
    width: 96px;
    margin-left: 15px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle1__center_lab5 {
    background-image: url("/images/lable5.png");
    background-size: cover;
    width: 96px;
    margin-left: 15px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle1__center_lab6 {
    background-image: url("/images/lable6.png");
    background-size: cover;
    width: 96px;
    margin-left: 15px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle1__center_lab7 {
    background-image: url("/images/lable7.png");
    background-size: cover;
    width: 96px;
    margin-left: 15px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle1__center_lab8 {
    background-image: url("/images/lable8.png");
    background-size: cover;
    width: 96px;
    margin-left: 15px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle1__center_lab9 {
    background-image: url("/images/lable9.png");
    background-size: cover;
    width: 96px;
    margin-left: 15px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle1__center_lab10 {
    background-image: url("/images/lable10.png");
    background-size: cover;
    width: 96px;
    margin-left: 15px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle1__bottom {
    width: 100%;
    height: 126px;
    border: 1px solid greenyellow;
    font-size: 22px;
    text-align: center;
    color: #000;
}

.middle1__bottom p {
    margin-top: 70px;
}

.middle2 {
    display: flex;
    width: 100%;
    height: 716px;
    border: 1px solid greenyellow;
}

.middle2__buffer1 {
    width: 89px;
    flex-grow: 1;
    border: 1px solid chocolate;
}

.middle2__images {
    width: 1098px;
    height: 100%;
}

.middle2__top {
    display: flex;
    width: 100%;
    height: 490px;
    border: 1px solid darkmagenta;
}

.middle2__top_card {
    background-image: url("/images/card.jpeg");
    background-size: cover;
    width: 730px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle2__top_right {
    width: 364px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.right__text {
    display: inline-block;
    width: 364px;
    height: 490px;
    position: relative;
    color:  white;
    background-color: #27312a;
}

.right__text p {
    font-size: 15px;
}

.right__text h3,p {
    padding: 0px 15px;
}

.right__button {
    position: absolute;
    border: 2px solid  #ff7112;
    border-radius: 2px;
    width: 280px;
    height: 38px;
    margin-left: 35px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 15px;
    color:  #ff7112;
}

.middle2__bottom {
    display: flex;
    width: 100%;
    height: 222px;
}

.middle2__bottom_image1 {
    background-image: url("/images/try__now1.jpeg");
    width: 366px;
    height: 100%;
    background-size: cover;
    border: 1px solid chocolate;
}

.middle2__bottom_image2 {
    background-image: url("/images/try__now2.jpeg");
    width: 366px;
    height: 100%;
    background-size: cover;
    border: 1px solid chocolate;
}

.middle2__bottom_image3 {
    background-image: url("/images/try__now3.jpeg");
    width: 366px;
    height: 100%;
    background-size: cover;
    border: 1px solid chocolate;
}

.middle2__buffer2 {
    width: 89px;
    flex-grow: 1;
    border: 1px solid chocolate;
}

.middle3 {
    display: flex;
    width: 100%;
    height: 815px;
    border: 1px solid greenyellow
}

.middle3__buffer1 {
    width: 89px;
    flex-grow: 1;
    border: 1px solid chocolate;
}

.middle3__center {
    width: 1098px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle3__buffer2 {
    width: 89px;
    flex-grow: 1;
    border: 1px solid chocolate;
}

.middle3__center_header {
    width: 100%;
    height: 134px;
    border: 1px solid darkmagenta;
    font-size: 22px;
    text-align: center;
    color: black;
}

.middle3__center_header p {
    margin-top: 60px;
}

.middle3__center_map {
    background-image: url("/images/map.jpg");
    background-size: cover;
    width: 100%;
    height: 590px;
    border: 1px solid darkmagenta;
}

.map1 {
    display: flex;
    width: 100%;
    height: 86px;
    border: 1px solid darkmagenta;
}

.map2 {
    display: flex;
    width: 100%;
    height: 60px;
    border: 1px solid darkmagenta;
}

.map2__buffer1 {
    width: 90px;
    flex-grow: 1;
    border: 1px solid chocolate;
}

.nav4__s {
    width: 918px;
    flex-grow: 1;
    border: 1px solid chocolate
}

.map2__buffer2 {
    width: 90px;
    flex-grow: 1;
    border: 1px solid chocolate;
}

.map3 {
    display: flex;
    width: 100%;
    height: 440px;
    border: 1px solid darkmagenta;
}


.middle3__center_bottom {
    width: 100%;
    height: 88px;
    border: 1px solid darkmagenta;
    position: relative;
}

.middle3__button {
    position: absolute;
    border: 2px solid  #ff7112;
    border-radius: 2px;
    width: 280px;
    height: 38px;
    margin-left: 385px;
    margin-top: 25px;
    text-align: center;
    padding-top: 15px;
    color:  #ff7112;
}

.middle4 {
    display: flex;
    width: 100%;
    height: 874px;
    border: 1px solid greenyellow
}

.middle4__buffer1 {
    width: 89px;
    flex-grow: 1;
    border: 1px solid chocolate;
}

.middle4__center {
    width: 1098px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.middle4__buffer2 {
    width: 89px;
    flex-grow: 1;
    border: 1px solid chocolate;
}

.middle4__center_header {
    text-align: center;
    padding-top: 60px;
    width: 100%;
    height: 116px;
    border: 1px solid darkmagenta;
}

.middle4__center_rules {
    width: 100%;
    height: 570px;
    border: 1px solid darkmagenta;
}

.rules1__2 {
    display: flex;
    width: 100%;
    height: 112px;
}

.icon1 {
    display: flex;
    height: 112px;
    width: 142px;
}

.rectangle {
    width: 58px;
    height: 38px;
    background-color: #0fae58;
    margin: auto;
}

.rule1{
    display: flex;
    height: 112px;
    width: 407px;
    text-align: left;
}

.rule1 p,.rule2 p,.rule3 p,.rule4 p,.rule5 p,.rule6 p,.rule7 p,.rule8 p,.rule9 p,.rule10 p {
    width: 404px;
    margin: auto;
    font-size: 16px;
    color: black;
}

.icon2 {
    display: flex;
    height: 112px;
    width: 142px;
}

.rule2 {
    width: 407px;
    display: flex;
    height: 112px;
}

.rules3__4 {
    display: flex;
    width: 100%;
    height: 112px;
}

.icon3 {
    display: flex;
    height: 112px;
    width: 142px;
}

.rule3 {
    width: 407px;
    display: flex;
    height: 112px;
}

.icon4 {
    display: flex;
    height: 112px;
    width: 142px;
}

.rule4 {
    width: 407px;
    display: flex;
    height: 112px;
}

.rules5__6 {
    display: flex;
    width: 100%;
    height: 112px;
}

.icon5 {
    display: flex;
    height: 112px;
    width: 142px;
}

.rule5 {
    width: 407px;
    display: flex;
    height: 112px;
}

.icon6 {
    display: flex;
    height: 112px;
    width: 142px;
}

.rule6 {
    width: 407px;
    display: flex;
    height: 112px;
}

.rules7__8 {
    display: flex;
    width: 100%;
    height: 112px;
}

.icon7 {
    display: flex;
    height: 112px;
    width: 142px;
}

.rule7 {
    width: 407px;
    display: flex;
    height: 112px;
}

.icon8 {
    display: flex;
    height: 112px;
    width: 142px;
}

.rule8 {
    width: 407px;
    display: flex;
    height: 112px;
}

.rules9__10 {
    display: flex;
    width: 100%;
    height: 112px;
}

.icon9 {
    display: flex;
    height: 112px;
    width: 142px;
}

.rule9 {
    width: 407px;
    display: flex;
    height: 112px;
}

.icon10 {
    display: flex;
    height: 112px;
    width: 142px;
}

.rule10 {
    width: 407px;
    display: flex;
    height: 112px;
}

.middle4__center_bottom {
    width: 100%;
    height: 122px;
    position: relative;
}

.footer {
    background-color: #27312a;
    width: 100%;
    height: 442px;
}

.footer__top {
    display: flex;
    width: 100%;
    height: 90px;
    border: 1px solid darkmagenta;
}

.footer__medium {
    display: flex;
    width: 100%;
    height: 234px;
    border: 1px solid darkmagenta;
}

.footer__bottom {
    display: flex;
    width: 100%;
    height: 112px;
    border: 1px solid darkmagenta;
}

.footer__medium_about {
    width: 254px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.about {
    width: 254px;
    border: 1px solid chocolate;
}

.about span {
    font-weight: bold;
    color:  #ff7112;
}

.about a span{
    text-decoration: none;
    color: white;
}

.footer__medium_how {
    width: 176px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.how {
    width: 176px;
    border: 1px solid chocolate;
}

.footer__medium_get {
    width: 178px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.get {
    width: 178px;
    border: 1px solid chocolate;
}

.footer__medium_stay {
    width: 182px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.stay {
    width: 182px;
    border: 1px solid chocolate;
}

.footer__medium_email {
    width: 480px;
    flex-grow: 0;
    border: 1px solid chocolate;
}

.email {
    width: 480px;
    border: 1px solid chocolate;
}
