img {
    width: 250px;
}

.headerContainer {
    text-align: right;
    font-size: 28px;
    color: purple;
}

.bodyContainer1 {
    text-align: left;
    font-size: 22px;
    color: green;
}

.bodyContainer2 {
    text-align: right;
    font-size: 22px;
    color: green; 
}

.footerContainer {
    text-align: center;
    font-size: 22px;
    color: brown;
}

@media screen and (min-width: 1200px) {
    .headerContainer, .bodyContainer1, .bodyContainer2, .footerContainer, font, a {
        font-size: 28px;
    }
    
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .headerContainer, .bodyContainer1, .bodyContainer2, .footerContainer, font, a {
        width: 90%;
        font-size: 110%;
    }
    img {
        width: 220px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .headerContainer, .bodyContainer1, .bodyContainer2, .footerContainer, font, a {
        width: 75%;
        font-size: 100%;
    }
    img {
        width: 180px;
    }
}

@media screen and (max-width: 767px) {
    .headerContainer, .bodyContainer1, .bodyContainer2, .footerContainer, font, a {
        width: 10%;
        font-size: 100%;
    }
    img {
        width: 140px;
    }
}
